[submodule "homeworks/spring-2021/Овинников Никита Дмитриевич/SPbSU_course"]
	path = homeworks/spring-2021/Овинников Никита Дмитриевич/SPbSU_course
	url = https://github.com/suwaruto/SPbSU_course
	branch = master
[submodule "homeworks/spring-2021/Хамандише Тедиус/mySPbUassignments"]
	path = homeworks/spring-2021/Хамандише Тедиус/mySPbUassignments
	url = https://github.com/TeddyHamz/mySPbUassignments.git
	branch = main
[submodule "homeworks/spring-2021/Ян Юйци/SPBU-C-Programing"]
	path = homeworks/spring-2021/Ян Юйци/SPBU-C-Programing
	url = https://github.com/Saint-Yuqi/SPBU-C-Programing
	branch = main
[submodule "homeworks/spring-2021/Степанов Арсений Константинович/c_language_spbu"]
	path = homeworks/spring-2021/Степанов Арсений Константинович/c_language_spbu
	url = https://github.com/ctzvsk/c_language_spbu
[submodule "homeworks/spring-2021/Козгунов Никита Владимирович/C-programming"]
	path = homeworks/spring-2021/Козгунов Никита Владимирович/C-programming
	url = https://github.com/kozgunov/C-programming.git
	branch = main
